h1 {
    font-size:25px;
 }

#header{
    height: 10vh;
    position: fixed;
 }
.container{
    display: grid;
    margin-top: 10vh;
    grid-template-rows: 5vh 1fr;
    grid-template-columns: 100%;
    grid-template-areas: 
    'nv'
    'mn';
}
nav{
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    align-items: center;  
}
main{
    grid-area: mn;
}
.navlinks{
    text-decoration: none;
}