body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
::-webkit-scrollbar {
    display: none;
}

h1{
    padding-left: 10px;
    font-size: 70px !important;
    font-size:25px;
    color: #e67e22;
}

header{
    height: 15vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: darkslategray;
 }
.container{
    order: 1;
    display: grid;
    margin-top: 15vh;
    grid-template-rows: 5vh 1fr;
    grid-template-columns: 100%;
    grid-template-areas: 
    'nv'
    'mn';
}
.containeromoss{
    order:1;
    display: grid;
    margin-top: 15vh;
    grid-template-rows: 5vh auto;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
    'nv nv'
    'mn as';
}
nav{
    grid-area: nv;
    display: flex;
    background-color: #e67e22;
}
main{
    padding: 10px;
    grid-area: mn;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: darkslategray;
}

aside{
    grid-area: as;
    background-color: darkslategray;
    border-left: 2px solid #e67e22;
}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px ;
} 
.navlinks{
    flex: 1;
    text-decoration: none;
    font-family: 'Anonymous Pro';
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center; 
    color: white; 
}

.navlinks:hover{
    background-color:white;
    color: #e67e22;
}

#current{
    text-decoration: underline;
    text-transform: uppercase;
}
.cards{
    display: flex;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    border: 2px solid #e67e22;
    background-color: white;
}
.cards img{
    width: fit-content;
    height: 150px;
}
