body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
::-webkit-scrollbar {
    display: none;
}

h1{
    padding-left: 10px;
    font-size: 70px;
    color: #e67e22;
    font-family: "Bebas Neue", sans-serif;
}

header{
    height: 15vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: darkslategray;
    border-bottom: 2px solid #e67e22;
 }
.container{
    order: 1;
    display: grid;
    margin-top: 15vh;
    grid-template-rows: 5vh auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    'nv'
    'mn';
}
#containeromoss{
    order:1;
    display: grid;
    margin-top: 15vh;
    grid-template-rows: 5vh 80vh;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
    'nv nv'
    'mn as';
}
nav{
    grid-area: nv;
    display: flex;
    background-color: #e67e22;
}
#restaurangermain{
    grid-area: mn;
    display: flex;
    background-color: darkslategray;
    min-height: 80vh;
    justify-content: center;
}
#omossmain{
    height: 80vh;
    background-color: darkslategray;
}

aside{
    grid-area: as;
    background-color: darkslategray;
    border-left: 2px solid #e67e22;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    overflow: scroll;
}

.navlinks{
    flex: 1;
    text-decoration: none;
    font-family: 'Anonymous Pro';
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center; 
    color: white; 
}

.navlinks:hover{
    background-color:white;
    color: #e67e22;
}

#current{
    text-decoration: underline;
    text-transform: uppercase;
}
#cardcontainer{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 48vh;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid #e67e22;
    background-color: white;
}
.cards img{
    width: 100%;
    height: 35%;
    border-radius: 3px 3px 0px 0px;
    object-fit: cover;
    border-bottom: 2px solid #e67e22;
}
.cards h2{
    margin-top: 10px;
    margin-left: 15px;
    font-family: "DM Serif Text", serif;
    color: darkslategray;
}
.cards p{
    margin-left: 15px;
    font-family:'Anonymous Pro';
    font-size: 1rem;
    color: darkslategray;
}

#hemmain{
    height: 80vh;
    background-color: darkslategray;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hemcards:hover{
    border: 2px solid black;
}
p{
    font-family:'Anonymous Pro';
    font-size: 1rem;
}

.review{
    background-color: white;
    width: 85%;
    height: 300px;
}